@media screen and (max-width: 960px) {
    h1{
        font-size: 2rem;
    }

    .container{
        padding-inline: 40px;
    }

    .company-logo img{
        width: 100px;
    }

    .header{
        padding-bottom: 100px;
    }

    .header-section {
        gap: 100px;
    }

    .hero-section{
        text-align: center;
    }

    .feature-area{
        flex-direction: column;
    }

    .feature-text{
        text-align: center;
        width: 100%;
    }

    .feature-img{
        width: 70%;
    }

    .feature-text p{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 600px) {
    p{
        font-size: 1.1rem;
    }

    .header{
        padding-block: 10px;
    }

    .container{
        padding-inline: 20px;
    }

    .tag-line{
        font-size: 1.1rem;
    }

    .news-letter{
        flex-direction: column;
        align-items: center;
    }

    #email-input{
        width: 180%;
    }

    .large-btn{
        font-size: 1.2rem;
        padding: 5px 0px;

    }

    .header {
        padding-bottom: 50px;
    }

    .faq h1{
        text-align: center;
    }

    .faq p{
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    .faq-area {
        padding: 20px 15px;
    }

    .faq-area p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 465px) {  
    #email-input {
        width: 150%;
    }

    .footer-area{
        flex-direction: column;
    }

    .link-column{
        width: 100%;
    }

    .faq-area p{
        font-size: 1rem;
    }

}