@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Netflix Sans Light';
    src: url(netflix-sans-font/NetflixSans-Light.otf);
}

@font-face {
    font-family: 'Netflix Sans Bold';
    src: url(netflix-sans-font/NetflixSans-Bold.otf);
}

body{
    font-family: 'Netflix Sans', 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    background-color: #00081d;
}

h1{
    font-family: 'Netflix Sans Bold', 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    color: rgb(255, 255, 255);
}

h2{
    color: rgb(255, 255, 255);
    font-weight: 100;
}

p{
    font-size: 1.2rem;
    color:rgb(255, 255, 255);
}

a{
    text-decoration: none;
}



/* Utility Classess */
.container{
    margin-inline: 120px;
    padding-inline: 30px;
}

.flex{
    display: flex;
}

.small-btn{
    background-color: #e50914;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: 0px;
    padding: 5px 15px;
}

.btn:hover{
    background-color: #c2060f;
}

.large-btn{
    background-color: #e50914;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    font-size: 1.5rem;
    border: 0px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.large-btn:hover {
    background-color: #c2060f;
}


/* Header */
.header{
    margin: 10px 30px;
}

.company-logo img{
    width: 180px;
}

.header-section{
    justify-content: space-between;
    align-items: center;
}

.menu{
    gap: 20px;
    margin-right: 20px;
}

.menu select{
    padding: 5px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 5px;
}

.large-btn select, a{
    text-align: center;
    height: 30px;
}

/* Poster */
.poster{
    margin-inline: 50px;
    margin-block: 10px;
    background: linear-gradient(to right, rgb(52, 5, 5), rgba(20, 27, 115, 0.5), rgba(65, 62, 62, 0.2)), url(./assets/asset\ 14.jpg);
    padding-block: 120px;
    border-radius: 20px;
    background-position: top;
    padding-left: 100px;
}

.hero-section h1{
    font-size: 4rem;
}

.hero-section{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-basis: 100%;
}

.tag-line{
    font-size: 1.5rem;
}

.news-letter{
    gap:10px;
    justify-content: flex-start;
}

.news-letter button{
    padding-inline: 20px;
    padding-block: 15px;
}

.news-letter input{
    border-radius: 5px;
    padding: 20px;
    color: #ffffff;
    background-color: rgb(0,0,0,0);
    border: 1px solid rgb(100, 100, 100);
    width: 400px;
    flex-basis: 60%;
}

input::placeholder{
    color: #ffffff;
}

.icon{
    filter: invert(1) sepia(1) saturate(6) hue-rotate(182deg);
}



/* Feature Section */
.feature-area{
    align-items: center;
}

.feature-text, .feature-img{
    width: 50%;
}

.feature-text{
    flex-direction: column;
    gap: 25px;
}

.feature-text p{
    font-size: 1.2rem;
    font-weight: 800;
}

.reverse{
    flex-direction: row-reverse;
}




/* FAQ Section */
.faq{
    padding-block: 50px;
    flex-direction: column;
    gap: 10px;
}

.faq h1{
    padding-block: 10px;
}

.question, .answer{
    width: 100%;
    padding: 30px 20px;
    justify-content: space-between;
    background-color: #132144;
}

.question{
    border-bottom: 1px solid #00081d;
}

.question:hover{
    background-color: #223362;
    transition: 0.2s ease-out;
    cursor:pointer;
}

.question p, .answer p{
    font-size: 1.5rem;
}

.answer{
    display: none;
}

.answer.active{
    display: block;
}

.question .icon{
    transition: transform 0.2s;
}

.question .icon.active{
    transform: rotate(45deg);
}

/* Footer */
.footer{
    padding-block: 50px;
}

.footer-section p, a, select{
    color: #b3b3b3;
    font-size: 1rem;
}

.cnt-no{
    text-decoration: underline;
    cursor: pointer;
}

.footer-section a{
    text-decoration: underline;
    font-size: 0.9rem;
}

.footer-section{
    flex-direction: column;
    gap: 30px;
}

.link-column{
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}

.lang select{
    padding: 5px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 3px;
}